<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-2MEKZYFBGE"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-2MEKZYFBGE");
		</script>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Easy to use Express based REST API | Endpoints for random words, search by terms, author, date, browse by character | Open Source | Explore on playground" />
		<meta
			name="keywords"
			content="urban dictionary api, api urban dictionary, urbandictionary api" />
		<meta name="author" content="Kashyap Shirodkar" />
		<meta property="og:site_name" content="(Unofficial) Urban Dictionary API" />
		<meta property="og:title" content="Unofficial Urban Dictionary API" />
		<meta
			property="og:description"
			content="Easy to use Express based REST API | Endpoints for random words, search by terms, author, date, browse by character | Open Source | Explore on playground" />
		<meta property="og:image" content="https://i.ibb.co/bzb4Y0B/logo.webp" />
		<meta
			property="og:url"
			content="https://unofficialurbandictionaryapi.com/" />

		<meta name="twitter:card" content="https://i.ibb.co/bzb4Y0B/logo.webp" />
		<meta name="twitter:site" content="@Kashyap010" />
		<meta name="twitter:title" content="Unofficial Urban Dictionary API" />
		<meta
			name="twitter:description"
			content="Easy to use Express based REST API | Endpoints for random words, search by terms, author, date, browse by character | Open Source | Explore on playground" />
		<meta name="twitter:image" content="https://i.ibb.co/bzb4Y0B/logo.webp" />
		<meta
			name="twitter:url"
			content="https://unofficialurbandictionaryapi.com/" />
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Product",
				"name": "(Unofficial) Urban Dictionary API",
				"url": "https://unofficialurbandictionaryapi.com/",
				"image": "https://i.ibb.co/bzb4Y0B/logo.webp",
				"description": "Easy to use Express based REST API | Endpoints for random words, search by terms, author, date, browse by character | Open Source | Explore on playground",
				"offers": [
					{
						"@type": "AggregateOffer",
						"name": "(Unofficial) Urban Dictionary API",
						"priceCurrency": "USD",
						"url": "https://unofficialurbandictionaryapi.com/",
						"price": "0",
						"lowPrice": "0.0"
					}
				]
			}
		</script>

		<title>Unofficial Urban Dictionary API</title>

		<link rel="canonical" href="https://unofficialurbandictionaryapi.com/" />

		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<link rel="stylesheet" href="output.css" />

		<link
			rel="preload"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'" />
		<noscript
			><link
				href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
				rel="stylesheet"
		/></noscript>
	</head>
	<body>
		<div
			class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50"
			id="loader">
			<img src="spinner.png" alt="Spinner png" />
		</div>

		<nav class="p-4 md:p-6">
			<div class="flex flex-col items-center">
				<div class="flex items-center">
					<a href="/">
						<img
							class="rounded-full"
							src="logo.webp"
							alt="Logo of the Unofficial OG Urban Dictionary API"
							width="50"
							height="50" />
					</a>
					<h1 class="ml-2 text-lg sm:text-lg">
						Unofficial Urban Dictionary API
					</h1>
				</div>

				<div class="mt-2 flex items-center sm:mt-0">
					<a
						href="https://github.com/kashyap010/unofficial-urban-dictionary-api"
						class="mx-2"
						target="_blank"
						>GitHub</a
					>
					<span>.</span>
					<a href="https://github.com/kashyap010/" class="mx-2" target="_blank"
						>Author</a
					>
				</div>
			</div>
		</nav>

		<hr class="w-3/4 md:w-3/5 mx-auto" />

		<div class="bg-gray-100 pb-0 pt-4 px-4">
			<h1
				class="bg-white p-4 container mx-auto w-full sm:max-w-[85%] md:max-w-[90%] border rounded-lg">
				This is an Unofficial API of the
				<a
					href="https://www.urbandictionary.com/define.php?term=OG"
					target="_blank"
					class="text-emerald-300"
					><u>OG</u></a
				>
				<a
					class="text-fuchsia-400"
					href="https://www.urbandictionary.com"
					target="_blank"
					>Urban Dictionary</a
				>. Explore the API with various query parameters. Contribute to the open
				source project
				<a
					href="https://github.com/kashyap010/unofficial-urban-dictionary-api"
					target="_blank"
					class="text-blue-600"
					>on the Github repo.</a
				>!
			</h1>
		</div>

		<div class="bg-gray-100 p-4">
			<div class="container mx-auto w-full sm:max-w-[85%] md:max-w-[90%]">
				<div class="grid grid-cols-1 gap-x-3 md:grid-cols-[auto_65%]">
					<!-- Endpoints section -->
					<section class="bg-white border rounded-lg p-4">
						<h2
							class="text-lg sm:text-xl font-semibold mb-2 flex justify-between items-center">
							Endpoints
							<span class="text-gray-300 right-0 text-xs sm:text-sm"
								>Click on endpoint to switch</span
							>
						</h2>

						<div class="endpoint">
							<div class="endpoint-name cursor-pointer text-blue-500">
								/search
							</div>
							<div class="endpoint-definition">
								Search for a given word on Urban Dictionary.
							</div>
						</div>

						<div class="endpoint">
							<div class="endpoint-name cursor-pointer text-blue-500">
								/random
							</div>
							<div class="endpoint-definition">
								Get a random word from Urban Dictionary.
							</div>
						</div>

						<div class="endpoint">
							<div class="endpoint-name cursor-pointer text-blue-500">
								/browse
							</div>
							<div class="endpoint-definition">
								Browse Urban Dictionary by A-Z, new, or *.
							</div>
						</div>

						<div class="endpoint">
							<div class="endpoint-name cursor-pointer text-blue-500">
								/author
							</div>
							<div class="endpoint-definition">
								Get definitions for a particular author.
							</div>
						</div>

						<div class="endpoint">
							<div class="endpoint-name cursor-pointer text-blue-500">
								/date
							</div>
							<div class="endpoint-definition">
								Get definitions on a particular date.
							</div>
						</div>
					</section>

					<!-- Query Parameters section -->
					<section class="bg-white border rounded-lg p-4 mt-4 md:mt-0">
						<h2 class="text-lg sm:text-xl font-semibold mb-2 relative">
							Query Parameters
							<span
								class="text-blue-500 absolute right-0 top-1/2 -translate-y-2/4 text-sm"
								id="current-endpoint"
								>/search</span
							>
						</h2>

						<div class="query-params-container">
							<div class="query-param-term">
								<div>
									<span
										class="text-blue-500 after:content-['*'] after:text-red-500"
										>term</span
									><span> - The term that you wish to search</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									words or phrases
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. yeet, Weird flex but OK
								</div>
							</div>

							<div class="query-param-author hidden">
								<div>
									<span
										class="text-blue-500 after:content-['*'] after:text-red-500"
										>author</span
									><span> - Name of the author</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. The Onion, Aaron Peckham
								</div>
							</div>

							<div class="query-param-date hidden">
								<div>
									<span
										class="text-blue-500 after:content-['*'] after:text-red-500"
										>date</span
									><span> - Date you wish to search for</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									yyyy-mm-dd
								</div>
							</div>

							<div class="query-param-character hidden">
								<div>
									<span
										class="text-blue-500 after:content-['*'] after:text-red-500"
										>character</span
									><span> - character you wish to search for</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									A-Z, *, or "new"
								</div>
							</div>

							<div class="mt-1 query-param-strict">
								<div>
									<span class="text-blue-500">strict</span
									><span> - Whether to return only exact matches</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									true, false (default)
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. return only "bigger" and not "biggering", "biggered"
								</div>
							</div>

							<div class="mt-1">
								<div>
									<span class="text-blue-500">limit</span
									><span>
										- Specify the number of definitions to be returned</span
									>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									values > 0
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. limit = 6, only 6 definitions will be returned
								</div>
							</div>

							<div class="mt-1 query-param-matchCase">
								<div>
									<span class="text-blue-500">matchCase</span
									><span> - Toggle case-sensitive matching</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									true, false (default)
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. whether to return "hello" or "hEllO"
								</div>
							</div>

							<div class="mt-1">
								<div>
									<span class="text-blue-500">page</span
									><span> - Get definitions from a particular page</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									values > 1
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. page = 5, get all definitions from the 5th page only
								</div>
							</div>

							<div class="mt-1">
								<div>
									<span class="text-blue-500">multiPage</span
									><span> - Get definitions from a given range of pages</span>
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-teal-200 rounded-md mr-1">
									false or 'min,max'
								</div>
								<div
									class="text-sm inline-block py-0.5 px-1 bg-yellow-200 rounded-md">
									Eg. '2,4' will return all definitions from page 2 to page 4
								</div>
							</div>
						</div>
					</section>
				</div>

				<div
					class="grid grid-cols-1 gap-x-3 md:grid-cols-[auto_70%] md:grid-rows-[auto_1fr] md:gap-y-4 mt-4">
					<!-- Explore section -->
					<section class="bg-white border rounded-lg p-4 row-span-full">
						<h2 class="text-lg sm:text-xl font-semibold mb-2">Explore</h2>

						<div class="explore-term mb-2">
							<label
								for="term"
								class="text-blue-500 block after:content-['*'] after:text-red-500">
								term
							</label>
							<input
								type="text"
								id="term"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
								onkeyup="handleInputChange(this, 'term');" />
						</div>

						<div class="explore-character hidden mb-2">
							<label
								for="character"
								class="text-blue-500 block after:content-['*'] after:text-red-500">
								character
							</label>
							<input
								type="text"
								id="character"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 invalid:border-red-500 focus:ring-sky-500 focus:ring-1"
								onkeyup="handleInputChange(this, 'character');"
								pattern="^([A-Z*]|new)$" />
						</div>

						<div class="explore-author hidden mb-2">
							<label
								for="author"
								class="text-blue-500 block after:content-['*'] after:text-red-500">
								author
							</label>
							<input
								type="text"
								id="author"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
								onkeyup="handleInputChange(this, 'author');" />
						</div>

						<div class="explore-date hidden mb-2">
							<label
								for="date-picker"
								class="text-blue-500 block after:content-['*'] after:text-red-500">
								date
							</label>
							<input
								type="date"
								id="date-picker"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
								onchange="handleInputChange(this, 'date');" />
						</div>

						<div class="explore-strict inline">
							<label for="strict" class="text-blue-500">strict</label>
							<input
								type="checkbox"
								id="strict"
								name="checkbox"
								class="align-middle ml-1"
								onchange="handleInputChange(this, 'strict', true);" />
						</div>

						<div class="explore-matchCase inline ml-2">
							<label for="matchCase" class="text-blue-500">matchCase</label>
							<input
								type="checkbox"
								id="matchCase"
								name="checkbox"
								class="align-middle ml-1"
								onchange="handleInputChange(this, 'matchCase', true);" />
						</div>

						<div class="explore-limit mt-2">
							<label for="limit" class="text-blue-500 block"> limit </label>
							<input
								type="number"
								id="limit"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
								onkeyup="handleInputChange(this, 'limit');"
								min="1" />
						</div>

						<div class="explore-page mt-2">
							<label for="page" class="text-blue-500 block"> page </label>
							<input
								type="number"
								id="page"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
								onkeyup="handleInputChange(this, 'page');"
								min="1" />
						</div>

						<div class="explore-multiPage mt-2">
							<label for="multiPage" class="text-blue-500 block">
								multiPage
							</label>
							<input
								type="text"
								id="multiPage"
								class="border rounded-md px-2 py-1 w-full focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 invalid:border-red-500"
								onkeyup="handleInputChange(this, 'multiPage');"
								pattern="^\d+,\d+$" />
						</div>
					</section>

					<!-- Generated URL section -->
					<section class="bg-white border rounded-lg p-4 mt-4 md:mt-0">
						<h2 class="text-lg sm:text-xl font-semibold mb-2 relative">
							Generated URL
							<span
								class="absolute right-0 mr-1 cursor-pointer text-blue-300"
								id="clipboard-icon-container"
								onclick="copyToClipboard();"
								><i class="fas fa-copy"></i
							></span>
						</h2>
						<div class="flex justify-between items-stretch">
							<span
								class="bg-slate-100 p-2 grow rounded-l-lg break-all"
								id="generated-url">
								https://unofficialurbandictionaryapi.com/api/
							</span>
							<span
								class="p-2 bg-red-200 rounded-r-lg cursor-pointer flex items-center"
								onclick="fetchMeaning()"
								><i class="fas fa-arrow-right"></i
							></span>
						</div>
					</section>

					<!-- Response section -->
					<section class="bg-white border rounded-lg p-4 mt-4 md:mt-0">
						<h2 class="text-lg sm:text-xl font-semibold mb-2">Response</h2>
						<div id="json-output" class="bg-[#282a36] text-[#ccc]"></div>
					</section>
				</div>
			</div>
		</div>

		<footer class="text-center p-4">
			<p>
				Data is scraped from the
				<a
					href="https://www.urbandictionary.com/define.php?term=OG"
					target="_blank"
					class="text-emerald-300"
					><u>OG</u></a
				>
				<a
					href="https://www.urbandictionary.com"
					target="_blank"
					class="text-fuchsia-400"
					><u>Urban Dictionary</u></a
				>.
			</p>
			<p>&copy; 2023 Unofficial Urban Dictionary API</p>
		</footer>

		<script src="main.js" defer></script>
		<script
			src="https://cdn.jsdelivr.net/npm/renderjson@1.4.0/renderjson.min.js"
			defer></script>
	</body>
</html>
